{% extends 'base.html' %}
{% block title %}Contact{% endblock%}
{% block content %}
<h4 class="text-center"> <b> <i>This is contact </i></b></h4>
<div class="container">
	<div class="contact-head">
		<div class="row">
			<div class="single-head">
				<div class="single-info">
					<i class="fa fa-phone"></i>
						<h4 class="title"> Call us Now:</h4>
						    <ul>
								<li>+977 9861980312</li>
								<li>+977 9848588734</li>
							</ul>
				</div>
				<div class="single-info">
					<i class="fa fa-envelope-open"></i>
					<h4 class="title">Email:</h4>
					
					<ul>
						<li><a href="">sachin10thapa@gmail.com</a></li>
						<li><a href="">support@yourwebsite.com</a></li>
					</ul>
				</div>
			
				<div class="single-info">
					<i class="fa fa-location-arrow"></i>
					<h4 class="title">Our Address:</h4>
						<ul>
							<li>balkumari-24, Lalitpur</li>
						</ul>
				</div>
			</div>
		</div>
	</div>
</div>


{% endblock %}